html {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: #fafafa;
  height: 100%;
  margin: 0px;
}

h1 {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-size: 30px;
  border-bottom: #CC66FF dashed 3px;

  background-image: url("nkgw-marronnier.ico");
  background-size: 55px 55px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 65px;
}

h1:first-letter {
  font-size: 50px;
  color: #008000;
}

h3 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #a2de96;
}

#panel {
  float: left;
  margin-right: auto;
  width: 250px;
}

#main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  background-color: #ffffd0;
  border-radius: 20px;
}

#canvas2 {
  background-color: #fff0f5;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.normal {
  width: 80px;
  height: 60px;
  font-size: 16pt;
  background-color: #f0ffff;
}

.clear {
  font-size: 14pt;
  width: 160px;
  height: 30px;
}

.button {
  margin: 15px 15px;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 10px;
  box-sizing: border-box;
}

footer,
.push {
  width: 99%;
  background-color: #32cd32;
  color: #fafafa;
  text-align: center;
  padding: 10px;
}